<div class="page">
    <div class="profile">
        <div class="photo">
            <img src="assets/images/me.jpg" alt="it's me!">
        </div>
        <div class="bio roboto-font">
            <h1>Dustin Cai</h1>
            <p>
                Hey there! I'm Dustin, a Software Engineer at <a href="https://www.nasa.gov/intelligent-systems-division/collaborative-and-assistant-systems/enterprise-information-management-group">NASA</a>, contracted through KBR and Bay Systems Consulting Inc. 
                I graduated from <a href="https://www.ucdavis.edu/">UC Davis</a> in 2020 with a BS in Computer Science. 
                When I'm not breaking production, I love boxing, watching hockey & MMA and visiting various coffee shops.                 
            </p>
            <p>
                Feel free to shoot me a <a href="mailto:caidustin1@gmail.com">message</a>! 
            </p>
        </div>
    </div>
</div>